body{
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
}



/*reset*/



ul , ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

a{
   text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    display: block;
}


/*common*/



.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/*header*/


.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.nav-list-link.current{
    position: relative;
}

.nav-list-link.current::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.nav-logo-item{
    color: #2e2f42;
}

.nav-list-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-address-link:hover,
.nav-address-link:focus,
.nav-list-link.current{
    color: #404bbf;
}

.nav-address{
    font-style: normal;
    margin-left: auto;
}





/*section-one*/




.section-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero-title.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 188px 0;
}

.section-one-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
}

.section-one-button{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus{
  background-color: #404bbf;
}




/*section-two*/


.section-two-box-items{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two{
    padding: 120px 0;
}

.section-two-list{
    display: flex;
    gap: 24px;
}


.section-two-items{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-list-items{
    width:calc((100% - 72px)/4);
}

.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}



/*section-three*/

.section-three{
    background: #f4f4fd;
    padding: 120px 0;
}

.section-three-list{
    display: flex;
    gap: 24px;
}

.section-three-list-item{
    background-color:#FFFFFF;
    border-radius: 0 0 4px 4px; ;
    width:calc((100% - 72px)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
    


.section-three-photo-text{
    padding-top: 32px;
    padding-bottom: 32px;
}


.section-three-content{
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-three-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-three-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



.icon-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-item{
    width: 40px;
    height: 40px;
}

.list-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    margin-top: 8px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.icon{
 fill: #f4f4fd;;
}


.list-link:hover, 
.list-link:focus{
    background-color: #404bbf;
}


/*section-four*/


.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-four-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.section-four-list{
    display:flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}


.section-four-list-item{
    width:calc ((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.section-four-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-list-item:hover .section-four-list-text{
    transform: translateY(0);
}

.section-four-content{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.section-four-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-four-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}


.section-four-list-text{
    position: absolute;
    top: 0px;
    background-color: #4d5ae5;
    color:  #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb{
    position: relative;
    overflow: hidden;
}


/*fotter*/



.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.nav-logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}

.nav-logo-item-footer{
    color:#f4f4fd;
}

.footer-soc-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon-list{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-list-item{
    width: 40px;
    height: 40px;
}

.footer-list-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon{
 fill: #f4f4fd;;
}


.footer-list-link:hover, 
.footer-list-link:focus{
    background-color: #31d0aa;;
}

.footer-text-container{
    margin-right: 120px;
    
}



.footer-container{
  display: flex;  
  align-items: baseline;
}



.footer-email-input{
    margin-left: auto;
}


.footer-email-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}


.footer-form{
    display: flex;
    gap: 24px;
}

.footer-input{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
}

.footer-email-button{
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
}


.icon-button{
    margin-left: 16px;
    fill: #fff;;
}


/*MODAL*/



.backdrop{
   position: fixed;
   top: 0;
   left: 0;
   background-color:rgba(46, 47, 66, 0.4) ;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop.is-open{
    opacity: 1;
    visibility:visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 24px;
    padding-left: 24px;
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%,-50%) scale(1.5);
}

.modal-button-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; 
  top: 24px;
  right: 24px;
  width: 24px; 
  height: 24px;
  padding: 0; 
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-button-close:hover,
.modal-button-close:focus{
    background-color: #404bbf; 
    border: none;
    fill:  #ffffff;
}

.icon-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}






/*MODAL*/






.backdrop-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}

.label-container{
   margin-bottom: 8px;
}

.modal-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  #8e8f99;
    margin-bottom: 4px;
}

.input-container{
    position: relative;
    margin-bottom: 8px;
} 

.model-input{  
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border:  1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus{
    border-color: #4D5AE5;
}
  
  
.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus + .input-icon{
    fill: #4D5AE5; 
}


.textarea-container{
    margin-bottom: 16px;
}



.textarea-modal{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.textarea-modal:focus{
    border-color:  #4D5AE5;;
}

.text-checkbox{
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;;
}





.checkbox-icon-container{
    display: inline-flex; 
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.checkbox-container{
    margin-bottom: 24px;
}

.checkbox:checked  + .text-checkbox > .checkbox-icon-container{
    background-color:#404bbf;
    border: none;
    fill: #f4f4fd;;
}

.button-modal{
    font-family: "Roboto", sans-serif;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text-link{
  color:  #4d5ae5;
}